<div class="jumbotron center">
    <h1 class="center-header">Blocipedia</h1>
    <h2 class="center-header">Social, Markdown Wikis</h2>

    <div class="row">
      <div class="col-sm-4 col-sm-offset-2">
        <p>Create Free Wikis</p>
        <%= link_to "Free", '#', class: 'btn btn-lg btn-default' %>
      </div>
    </div>
</div>
