<<<<<<< HEAD
<%= provide(:title, 'Edit Wiki') %>
<div class="row">
  <div class="col-sm-12">
    <h1>Edit Wiki</h1>

      <%= render 'wiki_form' %>

  </div>
</div>
=======
<%= render 'wiki_form' %>
>>>>>>> markdown-live
