@import 'bootstrap';

.main-nav {
  margin-bottom: 10px;
}

.user-info {
  margin-top: 9px;
}

.center-header {
  text-align: center;
}

.sign-in-nav {
  float: right;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}

a:hover {
  text-decoration: none;
}